:root {
    --font-family-main: 'Roboto Condensed', sans-serif;
    --title-size: 36px;
    --p-size: 14px;
    --font-family-p: 'Oswald', sans-serif;
    --bg-color: white;
    --main-text-color: crimson;
    --text-color: rgb(27, 25, 25);
    
   
}
